* {
  padding: 0px;
  margin: 0px;
}
.cards {
  display: flex;
}
.dashboard {
  width: 70vw;
}
.top-nav {
  overflow: hidden;
  height: 10vh;
}
.top-nav a {
  color: black;
  float: left;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 33%;
}
.top-nav input {
  width: 12%;
  float: left;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 30%;
  margin-left: 40%;
}
.nav-right {
  position: relative;
  top: 33%;
}
.nav-content-left {
  margin-left: 2%;
}
.nav-content {
  margin-right: 2%;
}

.nav-input {
  height: 3vh;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0.05);
}
.nav-input {
}
hr {
  opacity: 0.3;
}
