li {
  list-style: none;
}

.sidebar-title {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 400;
  margin-top: 10%;
  margin-bottom: 9%;
  margin-left: 2%;
}

.active {
  color: black;
}

.user-profile {
  display: flex;
  margin: 13% 0 13% 2%;
}
.user-name {
  margin-left: 8%;
}
.left-sidebar-link {
  font-size: 14px;
}
